.article {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 10px;
}

.article:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 72px;
}

.delete {
  padding: 5px 10px;
  border: none;
  border-radius: 100%;
  background-color: transparent;
}

.delete:hover {
  background-color: rgb(252, 90, 90);
}

.delete:hover * {
  color: white;
}

.infos {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.infos * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.url {
  color: gray;
}
